---
# Bare-metal sources: use the debug build's compile_commands.json
If:
  PathExclude: tests/.*
CompileFlags:
  CompilationDatabase: build/debug

---
# Integration tests: use the integration-test build
If:
  PathMatch: tests/integration/.*
CompileFlags:
  CompilationDatabase: build/integration-test

---
# Unit tests: use the aarch64-linux-gnu hosted build
If:
  PathMatch: tests/unit/.*
CompileFlags:
  CompilationDatabase: build/unit-tests
