/dts-v1/;
/include/ "guest-base.dtsi"

// Physical Raspberry Pi 5 (BCM2712)
// UART: 0x107d001000  GIC-400: GICD 0x107fff9000

/ {
	interrupt-parent = <&gic>;

	gic: interrupt-controller@107fff9000 {
		compatible = "arm,gic-400";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg = <0x10 0x7fff9000 0x0 0x1000
		       0x10 0x7fffa000 0x0 0x2000
		       0x10 0x7fffc000 0x0 0x2000
		       0x10 0x7fffe000 0x0 0x2000>;
	};

	clk_uart: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <9216000>;
	};

	serial@107d001000 {
		compatible = "arm,pl011", "arm,primecell";
		reg = <0x10 0x7d001000 0x0 0x200>;
		interrupts = <0x0 0x79 0x4>;
		clocks = <&clk_uart &clk_uart>;
		clock-names = "uartclk", "apb_pclk";
	};

	chosen {
		bootargs = "console=ttyAMA0 earlycon=pl011,0x107d001000 root=/dev/ram0 rdinit=/sbin/init";
	};
};
